<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<header th:replace="partials/partials.html :: head"></header>
<body>
<nav th:replace="partials/partials.html :: navbar-admin"></nav>
<div class="container-md d-flex justify-content-center align-items-center">
    <div class="col-md-8 py-5">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Address</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="hotel : ${hotels}">
                <th scope="row"><a th:href="@{/h/{id} (id = ${hotel.id})}" class="p-2" th:text="${hotel.name}"></a></th>
                <td th:text="${hotel.address}"></td>
            </tr>
            </tbody>
        </table>
        <a class="btn btn-primary" th:href="@{/h/create}">Add a Hotel</a>
    </div>
</div>
</body>
</html>