<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/partials-level3.html :: head"></head>
<body>
<nav th:replace="partials/partials-level3.html :: navbar-admin"></nav>

<div class="container-md">
    <div class="mt-5 d-flex flex-column align-items-center">
        <h1>Update Drill</h1>
        <form class="d-flex flex-column" th:action="@{/d/{id}/update (id = ${drill.id})}" method="POST" th:object="${drill}">
            <div class="mb-3">
                <label for="name" class="form-label">Drill Name</label>
                <input type="text" class="form-control form-rounded" id="name" name="name"
                       th:field="*{name}"/>
            </div>
            <div class="form-group mb-3">
                <label for="wing" class="form-label">Wing</label>
                <select id="wing" class="form-control form-rounded" th:field="*{wing}">
                    <option value="0">Choose...</option>
                    <option th:each="wing : ${wings}" th:value="${wing.id}" th:text="${wing.wingName}" />
                </select>
            </div>

            <div class="mb-3">
                <label for="drillStartDate" class="form-label">Start Date</label>
                <input type="date" class="form-control form-rounded" id="drillStartDate" name="drillStartDate"
                       th:field="*{drillStartDate}"/>
            </div>
            <div class="mb-3">
                <label for="drillEndDate" class="form-label">End Date</label>
                <input type="date" class="form-control form-rounded" id="drillEndDate" name="drillEndDate"
                       th:field="*{drillEndDate}"/>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
</body>
</html>
