<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/partials-level2.html :: head"></head>
<body>
<nav th:replace="partials/partials-level2.html :: navbar-admin"></nav>
<div class="container-md">
    <div class="mt-5 d-flex flex-column align-items-center">
        <h1>New Member</h1>
        <form class="d-flex flex-column" th:action="@{/u/create}" method="post" th:object="${user}">
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control form-rounded" id="email" name="email" th:field="*{username}"/>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control form-rounded" id="password" name="password"
                       th:field="*{password}"/>
            </div>
            <div class="mb-3">
                <label for="firstName" class="form-label">First Name</label>
                <input type="text" class="form-control form-rounded" id="firstName" name="firstName"
                       th:field="*{firstName}"/>
            </div>
            <div class="mb-3">
                <label for="lastName" class="form-label">Last Name</label>
                <input type="text" class="form-control form-rounded" id="lastName" name="lastName"
                       th:field="*{lastName}"/>
            </div>
            <div class="mb-3">
                <label for="phoneNumber" class="form-label">Phone Number <span style="color: lightslategray; font-size: 0.75em">(111) 111-1111</span></label>
                <input type="text" class="form-control form-rounded" id="phoneNumber" name="phoneNumber"
                       th:field="*{phoneNumber}"/>
            </div>
            <div class="form-group mb-3">
                    <label for="unit" class="form-label">Unit</label>
                    <select id="unit" class="form-control form-rounded" th:field="*{unit}">
                        <option disabled selected value="default">Choose...</option>
                        <option th:each="unit : ${units}" th:value="${unit.id}" th:text="${unit.unitName}" />
                    </select>
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" name="true" id="isAdmin" th:field="*{isAdmin}"/>
                <label for="isAdmin" class="form-check-label">Administrator</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
</body>
</html>