:root {
    --primary: #5DD7AD;
    --secondary: #122663;
}

nav {
    z-index: 1000;
}

form {
    min-width: 50%;
}

.form-rounded {
    border-radius: 2em;
}

.form-control {
    padding: 0.75em;
}


h1 {
    padding-bottom: 1em;
}

form {
    max-width: 100%;
}


.btn {
    margin: 1em 0 1em 0;
    border-radius: 5em;
    padding: 0.75em;
    width: 100%;
    max-width: 100%;
    font-weight: bold;
    border: none;
}

.btn-primary {
    background-color: var(--secondary);
}

.btn-primary:hover {
    background-color: var(--primary);
}

a.login {
    color: white;
    text-decoration: none;
}

a {
    color: var(--primary);
    text-decoration: none;
}

a:hover {
    color: var(--primary);
}

.instruction:hover {
    text-decoration: underline dashed;
    cursor: default;
}

.user-icon{
    background-color: var(--primary);
    height: 2em;
    width:  2em;
    border-radius: 100%;
    font-size: 4em;
    color:white
}

.calendar-icon {
    background-color: lightgrey;
    height: 200px;
    width:  200px;
    border-radius: 100%;
    margin: 1em auto 2em auto;
}

.booked {
    background-color: var(--primary);
}

.notBooked {
    background-color: darkgray;
}

#splashPage {
    background-image: url('../img/login.jpeg');
    height: 100vh; background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    color: white;
}

.action-success {
    background-color: var(--primary);
    height: 200px;
    width:  200px;
    border-radius: 100%;
    margin: 1em auto 2em auto;
}

.noStyle {
    border: none;
    background-color: transparent;
}

.aboutUsCards{
    text-align: center;
    margin: 25px;
    height: 450px;
    width: 250px;
}

.nameCard{
    font-weight: bold;
}

.nameCard img {
    width: 35px;
    margin: 0 0.2em 0 0.2em;
}

.card-img-top{
    max-width: 100%;
    max-height: 100%;
}

.mapboxgl-ctrl-geocoder, .mapboxgl-ctrl-attrib {
    display: none;
}

.badge {
    background-color: red;
}

hr {
visibility: hidden}

#contact-us {
    font-weight: bold;
}

/* Medium devices (tablets, 768px and down) */
@media screen and (max-width:768px) {
    .user-icon{
        height: 2em;
        width:  2em;
        font-size: 3.5em;
        margin-top: 10%;
    }
    hr {
        visibility: visible;
    }

    form {
        width: 100%;
    }
}


