<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/partials.html :: head"></head>
<body>
<nav th:replace="partials/partials.html :: navbar-landing"></nav>
<div class="container">
    <h1 class="mt-5 text-center">Meet the Developers</h1>
    <div class="row">
        <div class="col-md">
            <div class="mx-auto card aboutUsCards shadow p-3 mb-5 bg-white rounded border-light" >
                <img src="img/about/mia.png" class="card-img-top" alt="mia">
                <div class="card-body; circular--landscape">
                    <div class="flex-column nameCard">
                        <p class="fs-5 pt-1">Mia Evans</p>
                        <p style="font-weight: normal"><span style="font-weight: bold">Contributions:</span><br>Frontend Design<br>CRUD Functionality<br>Building Backend</p>
                        <a href="https://www.linkedin.com/in/evansmia/"><img src="img/icon-linkedin.png" alt="linkedin"></a>
                        <a href="https://github.com/miamija7"><img src="img/icon-github.png" alt="github"></a>
                        <a href="https://alumni.codeup.com/students/1655"><img src="img/icon-codeup.webp" alt="codeup"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="mx-auto card aboutUsCards shadow p-3 mb-5 bg-white rounded border-light" >
                <img src="img/about/julian.jpeg" class="card-img-top" alt="julian">
                <div class="card-body; circular--landscape">
                    <div class="flex-column nameCard">
                        <p class="fs-5 pt-1">Julian Gutierrez</p>
                        <p style="font-weight: normal"><span style="font-weight: bold">Contributions:</span><br>Error Handling<br>Exporting to Excel<br>MySQL Database</p>
                        <a href="https://www.linkedin.com/in/julian-milton-gutierrez/"><img src="img/icon-linkedin.png" alt="linkedin"></a>
                        <a href="https://github.com/juliangtz01"><img src="img/icon-github.png" alt="github"></a>
                        <a href="https://alumni.codeup.com/students/1667"><img src="img/icon-codeup.webp" alt="codeup"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="mx-auto card aboutUsCards shadow p-3 mb-5 bg-white rounded border-light">
                <img src="img/about/cody.png" class="card-img-top" alt="cody">
                <div class="card-body; circular--landscape">
                    <div class="flex-column nameCard">
                        <p class="fs-5 pt-1">Cody Palmer</p>
                        <p style="font-weight: normal"><span style="font-weight: bold">Contributions:</span><br>Custom Error Pages<br>About Us Page<br>Building Backend</p>
                        <a href="https://www.linkedin.com/in/codypalmer1/"><img src="img/icon-linkedin.png" alt="linkedin"></a>
                        <a href="https://github.com/CodyPalmer1"><img src="img/icon-github.png" alt="github"></a>
                        <a href="https://alumni.codeup.com/students/1659"><img src="img/icon-codeup.webp" alt="codeup"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="mx-auto card aboutUsCards shadow p-3 mb-5 bg-white rounded border-light">
                <img src="img/about/cris.png" class="card-img-top" alt="cristian">
                <div class="card-body; circular--landscape">
                    <div class="flex-column nameCard">
                        <p class="fs-5 pt-1">Cristian Almendarez</p>
                        <p style="font-weight: normal"><span style="font-weight: bold">Contributions:</span><br>Database Design<br>CRUD Functionality<br>Building Backend</p>
                        <a href="https://www.linkedin.com/in/cristian-almendarez/"><img src="img/icon-linkedin.png" alt="linkedin"></a>
                        <a href="https://github.com/Crisalmendarez"><img src="img/icon-github.png" alt="github"></a>
                        <a href="https://alumni.codeup.com/students/1662"><img src="img/icon-codeup.webp" alt="codeup"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>