<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/partials.html :: head"></head>
<body>
<nav th:replace="partials/partials.html :: navbar-landing"></nav>
<div class="container">
    <h1 class="mt-5" style="margin-left: 35%;">Meet the Developers</h1>
    <div class="row">
        <div class="col-sm">
            <div class="card aboutUsCards" >
                <img src="img/about/mia.png" class="card-img-top" alt="...">
                <div class="card-body; circular--landscape">
                    <div class="flex-column nameCard">
                        <p>Mia Evans</p>
                        <p><a href="https://www.linkedin.com/in/evansmia/">Linkedin</a></p>
                        <p><a href="https://github.com/miamija7">GitHub</a></p>
                        <p><a href="https://alumni.codeup.com/students/1655">Alumni Portal</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card aboutUsCards" >
                <img src="img/about/julian.jpeg" class="card-img-top" alt="...">
                <div class="card-body; circular--landscape">
                    <div class="flex-column nameCard">
                        <p>Julian Gutierrez</p>
                        <p><a href="https://www.linkedin.com/in/julian-milton-gutierrez/">Linkedin</a></p>
                        <p><a href="https://github.com/juliangtz01">GitHub</a></p>
                        <p><a href="https://alumni.codeup.com/students/1667">Alumni Portal</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card aboutUsCards">
                <img src="img/about/cody.png" class="card-img-top" alt="...">
                <div class="card-body; circular--landscape">
                    <div class="flex-column nameCard">
                        <p>Cody Palmer</p>
                        <p><a href="https://www.linkedin.com/in/codypalmer1/">Linkedin</a></p>
                        <p><a href="https://github.com/CodyPalmer1">GitHub</a></p>
                        <p><a href="https://alumni.codeup.com/students/1659">Alumni Portal</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card aboutUsCards">
                <img src="img/about/cris.png" class="card-img-top" alt="...">
                <div class="card-body; circular--landscape">
                    <div class="flex-column nameCard">
                        <p>Cristian Almendarez</p>
                        <p><a href="https://www.linkedin.com/in/cristian-almendarez/">Linkedin</a></p>
                        <p><a href="https://github.com/Crisalmendarez">GitHub</a></p>
                        <p><a href="https://alumni.codeup.com/students/1662">Alumni Portal</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>