<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/partials.html :: head"></head>
<body>
<nav th:replace="partials/partials.html :: navbar-landing"></nav>
<div class="w-100" style="background-color: #eee;">
    <img src="img/logo/cover.png" alt="cover" width="100%">
</div>
<div class="container py-5">
    <div class="row text-center">
        <div class="col" style="font-size: 4em">
            Hotel reservations<br>for troops.
        </div>
    </div>
    <div class="row text-center py-5">
        <div class="col-2"></div>
        <div class="col-8">
            Quick, reliable, and comprehensive lodging management. Book and cancel hotels at the click of a button,
            communicate seamlessly with our built-in notification system, and simplify hotel reservation management with
            Service Lodge.
        </div>
        <div class="col-2 py-5"></div>
    </div>
    <div class="row">
        <div class="col text-center d-flex align-items-center justify-content-center">
            <p><span class="fs-1">Ready to get started?</span><br>
                Create an account with your lodging representative.</p>
        </div>
        <div class="col">
            <img src="img/availability.png" alt="availability" width="100%">
        </div>
    </div>
</div>
</body>
</html>
