<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<header th:replace="partials/partials.html :: head"></header>

<!--    DYNAMIC BODY: MEMBER    -->
<body th:if="${!user.isAdmin}">
<nav th:replace="partials/partials.html :: navbar-member"></nav>
<div class="container-md">
    <div class="position-absolute top-50 start-50 translate-middle d-flex flex-column align-items-center">
        <h1>Welcome, <span th:text="${user.firstName}"></span>!</h1>

        <div th:if="${reservation == null}">
                <div class="calendar-icon notBooked d-flex justify-content-center align-items-center">
                    <img class="position-absolute" src="../img/icon-calendar.png" alt="Calendar" width="150px">
                    <h2 style="padding-top: 1em; color: white">:(</h2>
                </div>
            <p class="fs-5" style="text-align: center;">No upcoming reservations<br><a th:href="@{/r/request}">Make a Request</a></p>
        </div>
        <div th:if="${reservation != null && reservation.hotel == null}">
            <div class="calendar-icon notBooked d-flex justify-content-center align-items-center">
                <img class="position-absolute" src="../img/icon-calendar.png" alt="Calendar" width="150px">
                <h2 th:text="${reservation.drill.name.substring(0,3)}"
                    style="padding-top: 1em; color: white"></h2>
            </div>
            <p class="fs-5" style="text-align: center;">Reservation pending<br><a th:href="@{/r}">View Requests</a></p>
        </div>
        <div th:if="${reservation != null && reservation.hotel != null}">
            <a th:href="@{/r/{id} (id = ${reservation.id})}">
                <div class="calendar-icon booked d-flex justify-content-center align-items-center">
                    <img class="position-absolute" src="../img/icon-calendar.png" alt="Calendar" width="150px">
                    <h2 th:text="${reservation.drill.name.substring(0,3)}"
                        style="padding-top: 1em; color: white"></h2>
                </div>
            </a>
            <h4 style="text-align: center">Upcoming Reservation:</h4>
            <p class="fs-5" style="text-align: center">
                <span th:text="${reservation.hotel.name}"></span>
                <br><a th:href="@{/r/{id} (id = ${reservation.id})}">View Details</a>
            </p>
        </div>
    </div>
</div>
</body>

<!--    DYNAMIC BODY: ADMINISTRATIVE    -->
<body th:if="${user.isAdmin}">
<nav th:replace="partials/partials.html :: navbar-admin"></nav>

<div class="container-md mt-5">
    <div class="row">
        <div class="col-lg-3 mb-2">
            <div class="row">
                <div class="col-12 mb-3">
                    <div class="user-icon d-flex justify-content-center align-items-center">
                        <span th:text="${user.firstName.substring(0, 1) + user.lastName.substring(0,1)}"></span>
                    </div>
                </div>
                <div class="col-12">
                        <h3 class="mb-0" th:text="${user.getFullName()}"></h3>
                        <p class="text-secondary" th:text="${user.username}"></p>
                        <p th:text="${user.getUnit().getWing().wingName + ' Administrator'}"></p>
                        <a th:href="@{u/{id}/update (id = ${user.getId()})}">Edit Profile</a>
                </div>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="row">
                <h2><a th:href="@{/dashboard}">Dashboard <img src="/img/icon-dashboard.png" alt="trend" height="25px"></a></h2>
                <p>Hotel usage trends for your wing.</p>
            </div>
            <div class="row">
                <h2><a th:href="@{/r}">Reservations <img src="/img/icon-reservation.png" alt="trend" height="25px"></a></h2>
                <p>Create, edit, and cancel reservations. Manage reservation requests from members.  </p>
            </div>
            <div class="row">
                <h2><a th:href="@{/m}">Members <img src="/img/icon-member.png" alt="trend" height="25px"></a></h2>
                <p>Create new accounts. Manage accesses.</p>
            </div>
            <a class="btn btn-primary" th:href="@{/r/create}">+ New Reservation</a>
        </div>
    </div>

</div>
</body>
</html>
