<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<header th:replace="partials/partials.html :: head"></header>

<!--    DYNAMIC BODY: MEMBER    -->
<body th:if="${!user.isAdmin}">
<nav th:replace="partials/partials.html :: navbar-member"></nav>
<div class="container-md">
    <div class="position-absolute top-50 start-50 translate-middle d-flex flex-column align-items-center">
        <h1>Welcome, <span th:text="${user.firstName}"></span>!</h1>

        <div th:if="${reservation == null}">
                <div class="calendar-icon notBooked d-flex justify-content-center align-items-center">
                    <img class="position-absolute" src="../img/icon-calendar.png" alt="Calendar" width="150px">
                    <h2 style="padding-top: 1em; color: white">:(</h2>
                </div>
            <p class="fs-5" style="text-align: center;">No Upcoming Reservations<br><a th:href="@{/r/request}">Request a Hotel</a></p>
        </div>
        <div th:if="${reservation != null}">
            <a th:href="@{/r/{id} (id = ${reservation.id})}">
                <div class="calendar-icon booked d-flex justify-content-center align-items-center">
                    <img class="position-absolute" src="../img/icon-calendar.png" alt="Calendar" width="150px">
                    <h2 th:text="${reservation.drill.name.substring(0,3)}"
                        style="padding-top: 1em; color: white"></h2>
                </div>
            </a>
            <h4>Upcoming Reservation:</h4>
            <p class="fs-5" style="text-align: center">
                <span th:text="${reservation.hotel.name}"></span>
                <br><a th:href="@{/r/{id} (id = ${reservation.id})}">View Details</a>
            </p>
        </div>
    </div>
</div>
</body>

<!--    DYNAMIC BODY: ADMINISTRATIVE    -->
<body th:if="${user.isAdmin}">
<nav th:replace="partials/partials.html :: navbar-admin"></nav>
<div class="container-md">
    <div class="position-absolute top-50 start-50 translate-middle d-flex flex-column align-items-center">
        <h1>Welcome, <span th:text="${user.firstName}"></span>!</h1>
                <a class="btn btn-primary" th:href="@{/dashboard}">View Dashboard</a>
        <a class="btn btn-primary" th:href="@{/r}">Reservation Manager</a>
        <a class="btn btn-primary" th:href="@{/u}">Members</a>
        <a class="btn btn-primary" th:href="@{/h}">Hotels</a>
        <a class="btn btn-primary" th:href="@{/d}">Drills</a>
    </div>
</div>
</body>
</html>
