<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/partials.html :: head ('Service Lodge | New Reservation')"></head>
<body>
<nav th:replace="partials/partials.html :: navbar-admin"></nav>
<div class="container-md">
    <div class="mt-5 d-flex flex-column align-items-center">
        <h1>New Reservation</h1>
        <div th:if="${message != null}">
            <p th:text="${message}"></p>
        </div>
        <br>
        <form class="d-flex flex-column" th:action="@{/r/create}" method="post" th:object="${newReservation}">
            <div class="form-group mb-3">
                    <label for="unit" class="form-label">Member</label>
                    <select id="unit" class="form-control form-rounded" th:field="*{user}">
                        <option value="0">Choose...</option>
                        <option th:each="member : ${members}" th:value="${member.id}" th:text="${member.getFullName()}" />
                    </select>
            </div>
            <div class="form-group mb-3">
                <label for="drill" class="form-label">Drill Period</label>
                <select id="drill" class="form-control form-rounded" th:field="*{drill}">
                    <option value="0">Choose...</option>
                    <option th:each="drill : ${drills}" th:value="${drill.id}" th:text="${drill.name}" />
                </select>
            </div>
            <div class="form-group mb-3">
                <label for="hotel" class="form-label">Hotel</label>
                <select id="hotel" class="form-control form-rounded" th:field="*{hotel}">
                    <option value="0">Choose...</option>
                    <option th:each="hotel : ${hotels}" th:value="${hotel.id}" th:text="${hotel.name}" />
                </select>
            </div>
            <div class="mb-3">
                <label for="resNum" class="form-label">Reservation Number</label>
                <input type="text" class="form-control form-rounded" id="resNum" name="resNum"
                       th:field="*{resNum}"/>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
</body>
</html>