<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<header th:replace="partials/partials-level2.html :: head"></header>
<body>
<div th:if="${!user.isAdmin}">
    <nav th:replace="partials/partials-level2.html :: navbar-member"></nav>
</div>
<div th:if="${user.isAdmin}">
    <nav th:replace="partials/partials-level2.html :: navbar-admin"></nav>
</div>
<div class="container-md">
    <div class="mt-5 d-flex flex-column align-items-center">
    <div class="col">
        <h1 style="text-align: center" th:text="${reservation.drill.name}"></h1>
        <p>
            <b>Member: </b><span th:text="${reservation.user.getFullName()}"></span>
            <br><br><b>Hotel: </b><span th:text="${reservation.hotel.name}"></span>
            <br><b>Address: </b><span id="adr" th:text="${reservation.hotel.getFullAddress()}"></span>
            <br><br><b>Check-in: </b><span th:text="${reservation.drill.drillStartDate.toLocalDate().minusDays(1)}"></span> 16:00
            <br><b>Check-out: </b><span th:text="${reservation.drill.drillEndDate}"></span> 11:00
            <br><br><img th:data-hotel="${reservation.hotel.name}" th:data-address="${reservation.hotel.getFullAddress()}" th:data-start="${reservation.drill.drillStartDate.toLocalDate().minusDays(1)}" th:data-end="${reservation.drill.drillEndDate}" style="cursor: pointer;" id="scheduler" src="/img/icon-schedule.png" width="30px"> <span style="color: black">Add Calendar Event</span>
        <div class="container p-0">
            <div id='map' style='width: 100%; height: 300px; overflow: hidden'></div>
        </div>
        <form th:action="@{r/{id}/delete (id = ${reservation.id})}" method="POST" class="mx-auto">
            <button type="submit" class="btn btn-danger"
                    onclick="return confirm('Are you sure you want to cancel this reservation?')">Cancel Reservation</button>
        </form>
    </div>
    </div>
</div>
<script src='https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.js'></script>
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/add-to-calendar-button@1" async defer></script>
<script src="/js/keychain.js"></script>
<script src="/js/map.js"></script>
<script  src="/js/calendar.js"></script>
</body>
</html>
