<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<header th:replace="partials/partials.html :: head"></header>
<body>
<div th:if="${!user.isAdmin}">
    <nav th:replace="partials/partials-level2.html :: navbar-member"></nav>
</div>
<div th:if="${user.isAdmin}">
    <nav th:replace="partials/partials-level2.html :: navbar-admin"></nav>
</div>

<div class="container-md d-flex justify-content-center align-items-center">
    <div class="col-md-8 py-5">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Drill</th>
                <th scope="col">Hotel</th>
                <th scope="col">Member</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="reservation, iter : ${reservations}">
                <th scope="row"><a style="cursor: pointer;"
                                   th:data-resId="${reservation.resNum}" th:data-drill="${reservation.drill.name}" th:data-member="${reservation.user.getFullName()}" th:data-hotel="${reservation.hotel.name}" th:data-id="${reservation.id}" data-bs-toggle="modal" data-bs-target="#movieModal" class="p-2 modalBtn" th:text="${reservation.drill.name}"></a></th>
                <td th:text="${reservation.hotel.name}"></td>
                <td th:text="${reservation.user.getFullName()}"></td>
            </tr>
            </tbody>
        </table>
        <a class="btn btn-primary" th:href="@{/r/create}">Create Reservation</a>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="movieModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <!--     MODALLLLLLLLLLLLL     -->
            </div>
        </div>
    </div>
</div>
<!--<script th:inline="javascript" src="../../static/js/app.js"></script>-->
<script th:inline="javascript">
    const modalContent = document.querySelector('.modal-content');

    const updateModal = (id, resId, drill, member, hotel) =>{
        modalContent.innerHTML = `
            <div class="modal-header">
                    <h5 class="modal-title" id="ModalLabel">Reservation Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p><b>Reservation ID: </b>${resId}</p>
                    <p><b>Drill: </b>${drill}</p>
                    <p><b>Member: </b>${member}</p>
                    <p><b>Hotel: </b>${hotel}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="width: 100px">Close</button>
                    <form action="/r/${id}/update" method="post">
                        <button type="submit" style="width: 100px" class="btn btn-primary update ms-4">Edit</button>
                    </form>
                </div>
        `
    }

    const addModalEffect = ()=> {
        document.querySelectorAll('.modalBtn').forEach(a => {
            a.addEventListener('click', (e)=>{
                const resId = a.getAttribute('data-resId');
                const id = a.getAttribute('data-id');
                const drill = a.getAttribute('data-drill');
                const member = a.getAttribute('data-member');
                const hotel = a.getAttribute('data-hotel');
                updateModal(id, resId, drill, member, hotel);
            })
        })
    }
    addModalEffect();

</script>
</body>
</html>