<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<header th:replace="partials/partials.html :: head"></header>
<body>
<div th:if="${!user.isAdmin}">
    <nav th:replace="partials/partials-level2.html :: navbar-member"></nav>
</div>
<div th:if="${user.isAdmin}">
    <nav th:replace="partials/partials-level2.html :: navbar-admin"></nav>
</div>

<div class="container-md d-flex justify-content-center align-items-center">
    <div class="col-md-8 py-5">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Drill</th>
                <th scope="col">Hotel</th>
                <th scope="col">Member</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="reservation : ${reservations}">
                <th scope="row"><a th:href="@{/r/{id} (id = ${reservation.id}) }" class="p-2" th:text="${reservation.drill.name}"></a></th>
                <td th:text="${reservation.hotel.name}"></td>
                <td th:text="${reservation.user.getFullName()}"></td>
            </tr>
            </tbody>
        </table>
        <a class="btn btn-primary" th:href="@{/r/create}">Create Reservation</a>
    </div>
</div>
</body>
</html>